body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

img{
    width: 100px;
    border-radius: 50%;
}



hr{
    
    height: 1px;
    background-color: #FF7200;
}

.foto{
    display: flex;
    width:100%;
}

.foto h1{
    padding:0;
    color: white;
    font-size: 26px;
    text-align: center;


}

.foto img{
    margin-bottom: 1px;
}

.curriculo{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    width: 65%;
    box-shadow: 1px 1px 1em black;
    
}

.barra-lateral{
    width: 35%;
    background-color: #FF7200 ;
    height: 100%;
}

.separador{
    background-color: #10054B;
    color: white;
    font-size: 95%;
    height: 6%;
    vertical-align: middle;
    padding-left:5px ;
}

.separador h2{
    padding-top: 4%;
    margin-left: 5%;
    margin: 0px;
    
}

.separador:last-of-type{
    background-color: red;
    margin: 0px;
    
}

.info{
    margin-bottom: 28px;

}

.info h3, p{
    margin: 4% 2% 4% 2%;
}

.info p{ 
    font-size: 80%;
    margin-bottom: 6%

}

.info:last-of-type {
    margin: 4% 10% 4% 5%;

}

.info:last-of-type h3 {
    font-size: 100%;
    margin: 3% 3%;
}

.info:last-of-type p {
    font-size: 18px;
    margin: 3% 3%;

}



.barra-central{
    right: 0%;
    top:0px;
    height: 100%;
    width: 65%;


}


.barra-central h1, hr{
    color: #10054B;
    margin: 2% 2% 2% 2%;

    
}


.barra-central section:first-of-type {
    margin: 6% 5% 6% 3%;

    font-size: 90%;

    
}



.detalhes{
    margin: 3% 5% 2% 5%;
}

.detalhes h2{
    font-size: 95%;
    margin-bottom: 1%;
    
}

.detalhes p{
    font-size: 80%;
    margin: 1%
}

.detalhes:last-of-type b{
    font-size: 17px
}

.detalhes:last-of-type p{
    font-size: 15px;
    margin-bottom: 15px
}

