body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

img{
    width: 100px;
    border-radius: 15000px;
    display: inline-block
}



hr{
    
    height: 1px;
    background-color: #FF7200;
}

.foto{
    background-color: red;
    display: inline-block;
    width:100%;
    height: 20%
}

.foto h1{
    position:flex;

    color: white;
    font-size: 180%;
    align-items: end;
    border: 1px solid blue;
    text-align: right;

    right: 0;
}



.curriculo{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    width: 65%;
    height: 1000px;
    box-shadow: 1px 1px 1em black;

}

.barra-lateral{
    width: 35%;
    background-color: #FF7200 ;
    height: 100%;
}

.separador{
    background-color: rgb(255, 206, 115);
    color: white;
    font-size: 95%;
    height: 6%;
    vertical-align: middle;
}

.separador h2{
    padding-top: 4%;
    margin-left: 5%

}


.info{
    margin: 10% 10%
}

.info h3, p{
    margin: 4% 2% 4% 2%;
}

.info p{ 
    font-size: 80%;
    margin-bottom: 6%

}

.info:last-of-type {
    margin: 4% 10% 4% 10%;

}

.info:last-of-type h3 {
    font-size: 100%;
    margin: 3% 3%;
}

.info:last-of-type p {
    font-size: 18px;
    margin: 3% 3%;
}



.barra-central{
    right: 0%;
    top:0px;
    height: 100%;
    width: 65%;


}


.barra-central h1, hr{
    color: #10054B;
    margin: 2% 2% 2% 2%;

    
}


.barra-central section:first-of-type {
    margin: 6% 5% 6% 3%;

    font-size: 90%;

    
}



.detalhes{
    margin: 3% 5% 2% 5%;
}

.detalhes h2{
    font-size: 95%;
    margin-bottom: 1%;
    
}

.detalhes p{
    font-size: 80%;
    margin: 1%
}

.detalhes:last-of-type b{
    font-size: 17px
}

.detalhes:last-of-type p{
    font-size: 15px;
    margin-bottom: 15px
}